:root {
    /*色指定*/
    --use-color-a1: rgba(36, 50, 80, 1.0);
    --use-color-a2: rgba(36, 50, 80, 0.9);
    --use-color-a3: rgba(36, 50, 80, 0.5);
    --use-color-b1: rgba(88, 94, 170, 0.8);
    --use-color-b2: rgba(88, 94, 170, 0.9);
    --use-color-c1: rgba(101, 154, 210, 0.7);
}

body {
    background-color: black;
    background-image: url("img/back.jpg");
    background-size: cover;
    user-select: none;
}

#showClock {
    width: 15vw;
}

#Area_Top {
    display: flex;
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 6vh;
}

#Area_Tab {
    display: grid;
    grid-template-columns: repeat(var(--tab-amount), 1fr);
    gap: 5px;
    position: absolute;
    top: 6vh;
    left: 0vw;
    width: 100vw;
    height: 8vh;
}

#Area_Tab {
    background-color: var(--use-color-a3);
    border-top: 3px solid var(--use-color-a1);
    border-bottom: 3px solid var(--use-color-a1);
}

.Item_Tab {
    margin: 5px;
}

.FullSize {
    width: 100%;
    height: 100%;
}

.sidehalf_div {
    width: 50%;
    height: 100%;
}

.Menu_Img {
    background-size: cover;
}

.Menu_Title {
    width: 100%;
    height: 35%;
    margin-top: 5%;
}

/* .Btn {
    background-color: var(--use-color-a2);
    color: white;
    text-shadow: none;
    text-align: center;
    border: solid 3px white;
    border-radius: 20px;
} */

.Btn:hover {
    background-color: var(--use-color-c1);
}

.Selected {
    background-color: var(--use-color-c1);
}
